/* You can add global styles to this file, and also import other style files */
@import "~fullcalendar/dist/fullcalendar.min.css";
.p-t-0 {
	padding-top: 0px !important;
}
.p-b-0 {
	padding-bottom: 0px !important;
}
.m-b-0 {
	margin-bottom: 0px !important;
}

.cal-month-view .cal-header {
    font-weight:  normal !important;
}
.cal-header b {
    font-weight:  normal !important;
}
.cal-day-view .cal-time {
    font-weight:  normal !important;
}